{% extends "layout.html" %}
{% block content %}
     <div class="container-fluid view-tools mt-3 mb-3 p-2">
      <form method='POST' class="container-fluid reg-form h-100 m-0 p-4">
          {{ form.csrf_token }}
          {{ form.hidden_tag() }}
        <legend class="lead display-4 mb-3">Register</legend>
          <div class="container-fluid form-row">

            <div class="form-group col-md-6 w-100">
               {{ form.register_fname.label(class="font-weight-bold") }}
              {% if form.register_fname.errors %}
                {{ form.register_fname(class = "form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for errors in form.register_fname.errors %}
                        <span>{{ errors }}</span>
                    {% endfor %}
                </div>
              {% else %}
                {{ form.register_fname(class="form-control") }}
              {% endif %}
            </div>

            <div class="form-group col-md-6 w-75">
              {{ form.register_lname.label(class="font-weight-bold") }}
              {% if form.register_lname.errors %}
                {{ form.register_lname(class = "form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for errors in form.register_lname.errors %}
                        <span>{{ errors }}</span>
                    {% endfor %}
                </div>
              {% else %}
                {{ form.register_lname(class="form-control") }}
              {% endif %}
            </div> 
          </div>

          <div class="container-fluid form-row">
            <div class="form-group w-25 col-md-2">
              {{ form.register_gender.label(class="font-weight-bold") }}
              {% if form.register_gender.errors %}
                {{ form.register_gender(class = "form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for errors in form.register_gender.errors %}
                        <span>{{ errors }}</span>
                    {% endfor %}
                </div>
              {% else %}
                {{ form.register_gender(class="form-control form-control-md") }}
              {% endif %}
            </div>

            <div class="form-group  col-md-3">
              {{ form.register_id.label(class="font-weight-bold") }}
              {% if form.register_id.errors %}
                {{ form.register_id(class = "form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for errors in form.register_id.errors %}
                        <span>{{ errors }}</span>
                    {% endfor %}
                </div>
              {% else %}
                {{ form.register_id(class="form-control") }}
              {% endif %}
            </div>

            <div class="form-group col">
              {{ form.register_college.label(class="font-weight-bold") }}
              {% if form.register_college.errors %}
                {{ form.register_college(class = "form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for errors in form.register_college.errors %}
                        <span>{{ errors }}</span>
                    {% endfor %}
                </div>
              {% else %}
                {{ form.register_college(class="form-control form-control-md") }}
              {% endif %}
            </div>   
          </div>
          <div class="container-fluid form-row">
            <div class="form-group col-3">
              {{ form.register_yearLvl.label(class="font-weight-bold") }}
              {% if form.register_yearLvl.errors %}
                {{ form.register_yearLvl(class = "form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for errors in form.register_yearLvl.errors %}
                        <span>{{ errors }}</span>
                    {% endfor %}
                </div>
              {% else %}
                {{ form.register_yearLvl(class="form-control form-control-md") }}
              {% endif %}
            </div>
            <div class="form-group col">
               {{ form.register_department.label(class="font-weight-bold") }}
              {% if form.register_department.errors %}
                {{ form.register_department(class = "form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for errors in form.register_yearLvl.errors %}
                        <span>{{ errors }}</span>
                    {% endfor %}
                </div>
              {% else %}
                {{ form.register_department(class="form-control form-control-md") }}
              {% endif %}
            </div>
          </div>
          <div class="container-fluid form-row">
            <div class="form-group col">
               {{ form.register_course.label(class="font-weight-bold") }}
              {% if form.register_course.errors %}
                {{ form.register_course(class = "form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for errors in form.register_yearLvl.errors %}
                        <span>{{ errors }}</span>
                    {% endfor %}
                </div>
              {% else %}
                {{ form.register_course(class="form-control form-control-md") }}
              {% endif %}
            </div>
          </div>
          <div class="container-fluid">
            {{ form.register_submit(class="btn btn-primary btn-outline-light mr-auto") }}
          </div>
      </form>

      </div>
      <script>
        college_select = document.getElementById('register_college');
        dept_select = document.getElementById('register_department');
        course_select = document.getElementById('register_course');

        college_select.onchange = function(){
          college = college_select.value;
          fetch('dept/' + college).then(function(response){
            response.json().then(function(data){
              choice = '';
              for (item of data.department){
                choice += '<option value = "' + item.name_value + '">' + item.name + '</option>'
              }
              dept_select.innerHTML = choice
              course_select.innerHTML = ''
            });
          }); 
        };

        dept_select.onchange = function(){
          dept = dept_select.value;
          college = college_select.value;
          fetch('course/'+college+'/'+dept).then(function(response){
            response.json().then(function(data){
              choice = '';
              for (item of data.course){
                  choice += '<option value = "'+ item.code + '">'+item.code+'&nbsp&nbsp'+item.name +'</option>'
              }
              course_select.innerHTML = choice
            })
          })
        }
      </script>
{% endblock content %}